html{
  font-size : 62.5%;
  box-sizing : boder-box;
}
body,
#root{
  height: 100vh;
  margin:0;
}
body, input, select, textarea{
  font-size: 1.6rem;
}
.grid-container{
  display: grid;
  grid-template-areas: "header" "main" "footer";
  grid-template-rows: 5rem 1fr 5rem;
  grid-template-columns: 1fr;
  height: 100%;
}

header{
  grid-area: header;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  align-items: center;
}
header a{
  color: #ffffff;
}
a:hover{
  color: #ff8000;
}
main{
  grid-area: main;
}

footer{
  grid-area: footer;
  background-color: #203040;
  color: #ffffff;
  display: flex;
  justify-content: center; /*  for horizontal alignment */
  align-items: center; /*  for vertical alignment */
}